.container {
  width: 100% !important;
}
h3 {
  font-family: 'slim-joe';
  font-size: 30px;
  font-style: oblique;
}
.header {
  background-color: #FDF3E7 !important;
  letter-spacing: 5px;
  width: 70%;
  margin-left: 15%;
  margin-top: 5em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-style: dotted;
  border-color: #C63D0F;
  color: #3B3738;
}
p {
  color: #3B3738;
  margin-top: 30px;
  font-family: 'slim-joe';
  font-size: 20px;
}
.letter {
  width: 30px;
  height: 30px;
  border-style: solid;
  padding: 2px;
  float: left;
  margin: 2px;
  max-width: 900px;
}

.letter-button-color {
  color: darkcyan;
}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}
#buttons {
  margin: 0 auto;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}
@media only screen and (max-width: 933px) {
  #buttons {
  padding:0 0 0 15px;

}
  }

@media only screen and (max-width: 480px) {
  #buttons {

  padding:0 0 0 25px;
}
  }
